# URL de l'API Pode sur le serveur Windows (proxy nginx)
# Utilisee par nginx au demarrage du conteneur
API_BACKEND=http://SERVEUR_WINDOWS:8080

# Pour le mode dev (vite), l'app utilise aussi cette variable :
VITE_API_URL=http://SERVEUR_WINDOWS:8080
